[Unit]
Description=Arduino Web UI
After=network.target

[Service]
WorkingDirectory=/home/fcp1/Cristi_RPI5-arduino-http/rpi5
ExecStart=/usr/bin/python3 /home/fcp1/Cristi_RPI5-arduino-http/rpi5/web_server.py
Restart=always
User=fcp1
Environment=FLASK_SECRET_KEY=changeme

[Install]
WantedBy=multi-user.target
